<!DOCTYPE html>
<html lang="en">
<head>
    <script src="p5.min.js"></script>
    <script src="script.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplayer Tic Tac Toe</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h1>Mega Tic Tac Toe</h1>
        <h2 id="gameCode">Room Code</h2>
        <button id="copyButton" onclick="copyFunction()" class="sideButtons">Copy</button>
        <button id="readyButton" class="sideButtons" onclick="ready()">Ready</button>
        <div id="table">
            <div id="main" class="main">
                <div class="playerHeader">
                    <h4>Player #</h4>
                </div>
                <div class="symbolHeader">
                    <h4>Symbol</h4>
                </div>
                <div class="readyHeader">
                    <h4>Ready?</h4>
                </div>
                
            </div>
        </div>
    </div>
    <div id="snackbar">Some text some message..</div>
</body>
</html>