body {
    margin: 0;
    display: flex;
    flex: 1;
}

canvas {
    display: flex;
    flex: 8;
}

.sidebar {
    display: flex;
    flex: 2;
    background-color: indianred;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sideButtons {
    background-color: ivory;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 20px;
    border: 0px none;
    width: 50%;
    height: 9%;
    font-size: 2rem;
    margin: 5px;
}

#table {
    display: flex;
    align-items: center; /* horizontally centered */
    flex-direction: column;
    width: 100%;
}

.main{
    display:flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
    max-height: 3em;
    width: 100%;
}

.playerHeader {
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.symbolHeader {
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

.readyHeader {
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.you {
    background-color:aquamarine;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }